.accordion > input {
  display: none;
}

.accordion > input:checked ~ div {
  max-height: 200px;
}

.accordion > label {
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  background-color: salmon;
  cursor: pointer;
}

.accordion > div {
  max-height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  background-color: skyblue;
}

.accordion > div > p {
  display: inline-block;
  padding: 20px;
  color: #fff;
}
