.content {
    & > input {
        display: none;

        &:checked + label + div {
            opacity: 1;
            visibility: visible;
        }
    }

    & > label {
        display: inline-block;
        padding: 20px;
        background-color: #ffcd41;
        color: #fff;
    }

    & > div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        & > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 200px;
            background-color: #fff;
            z-index: 2;

            & > label {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(40%, -40%);
                padding: 20px;
                background-color: #dd5347;
                border-radius: 100%;
                z-index: 1;
            }
        }

        & > label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }
    }
}
